{% extends 'common.html'%}

{%block title%}
<title>Audio-to-text-conversion</title>
{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md">
            <form action="" method="post">
                <label for="audio">Audio</label>
                <input type="file" name="audio_file" id="file_audio" value="{{request.form.file}}" accept=".wav,.mp3">
                <br>
                <label for="email">Email</label>
                <input type="email" name="email" id="user_email" value="{{request.form.email}}">
                <br>
                <button type="submit" class="btn btn-primary ml-auto">Submit</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}