<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Textribe</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/all.css')}}">
</head>
<body class="bg-danger">
    <div class="container-fluid"> 
        <h3 class="h2">Welcome to textribe</h3>
        <p class="lead">To get started</p>
    </div>

    <div class="container">
        <i class="fas fa-hand-point-down fa-5x"></i>
        <br>
        <button type="button" class="btn btn-primary">Click me</button>
    </div>
        
    
</body>
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/all.js')}}"></script>
</html>